[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/NvChad/NvChad
[submodule "dotfiles/lib/liboo"]
	path = dotfiles/lib/liboo
	url = https://github.com/niieani/bash-oo-framework
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
